<a href="https://colab.research.google.com/github/afifamaisha13/fistproject/blob/main/Maisha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**part 1:Python Variables**

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4
x = "Sally"
print(x)

Sally

In [3]:
x = str(3)
y = int(3)
z = float(3)

In [11]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [8]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [9]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [10]:
x = "Python is awesome"
print(x)

Python is awesome

In [12]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [13]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [15]:
x = 5
y = "John"
print(x , y)

5 John

Global variable

In [16]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [17]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [18]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [19]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

**part 2:Python Datatypes**

In [20]:
x = 5
print(type(x))

<class 'int'>

In [22]:
y=10.2
print(type(y))

<class 'float'>

In [21]:
x='maisha'
print(type(x))

<class 'str'>

In [23]:
c=True
print(type(c))

<class 'bool'>

In [25]:
z = 1j
print(type(z))

<class 'complex'>

**part 3:Python Numbers**

In [26]:
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [28]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [29]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [30]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [31]:
x = 1
y = 2.8
z = 1j

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [32]:
import random

print(random.randrange(1, 10))

3